@model service.Models.Account
@{
    ViewBag.Title = "logIn";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("logIn", "LogIn", FormMethod.Post))
                    {
                        @ViewBag.Error
                        @ViewBag.serverError
                    <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Username, new { @class="form-control", @placeholder = "Username", @name = "Username", @type = "text"})
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Password, new {@class = "form-control", @placeholder = "Password", @name = "Password", @type = "password"})
                            </div>
                          
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
    

    

