
@{
    ViewBag.Title = "administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Administrators</div>
   
    <!-- Table -->
    <table class="table">


        <thead>
            <tr>
               
                <th>Admin-namn</th>
                <th>Admin-ID</th>
                
            </tr>
        </thead>



        <tbody>
            @foreach (service.Models.Administrator admin in service.Models.Administrator.getAdministratorList())
            {


                <tr>
                    <td>@admin._admUserName</td>
                    <td>@admin._admId</td>
                    

                </tr>
            }
        </tbody>

    </table>
</div>