
@model service.Models.Books

@{ 
    ViewBag.Title = "bookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
        
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">@Model._title</div>
                <div class="panel-body">

                    <small>Year: @Model._publicationYear</small>
                    <br />
                    <small>ISBN: @Model._ISBN</small>
                    <br />
                    <small>Pages: @Model._pages</small>
                </div>
            </div>
        </div>
       

    


