
@{
    ViewBag.Title = "authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>authors</h2>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p># hejsan             jadå</p>
    </div>
    <!-- Table -->
    <table class="table">
        @*@foreach (var obj in Model)
        {

            
                @obj.name
            
        }*@
    </table>
</div>