
@{
    ViewBag.Title = "authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Författare</div>
    
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>

                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Födelseår</th>
                
             </tr>
        </thead>



        <tbody>
            @foreach (service.Models.Author author in service.Models.Author.getAuthorList())
            {


                <tr>
                    <td>@author._firstName</td>
                    <td>@author._lastName</td>
                    <td>@author._birthYear</td>
                    
                </tr>
            }
        </tbody>

    </table>
</div>