
@{
    ViewBag.Title = "authors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>authors</h2>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p># hejsan             jadå</p>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>

                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>



        <tbody>
            @foreach (service.Models.Books books in service.Models.Books.getBookList())
            {


                <tr>
                    <td>@books._title</td>
                    <td>@books._publicationInfo</td>
                    <td>@books._ISBN</td>

                </tr>
            }
        </tbody>

    </table>
</div>